@model ShoppingCart

<h2>Your Cart</h2>

@if (Model.Items.Any())
{
    <form id="updateCartForm" method="post" asp-action="UpdateCart" asp-asp-controller="ShoppingCart">
        <table id="cartTable" class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Image</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr class="cart-item">
                        <td>@item.Name</td>
                        <td>
                                <input type="number" name="quantity" value="@item.Quantity" min="1" max="100" data-price="@item.Price">
                                <input type="hidden" name="productId" value="@item.ProductId">

                        </td>
                        <td>@item.Price</td>
                        <td><img src="@item.ImageUrl" alt="@item.Name" style="max-width: 100px;"></td>
                        <td class="total-price">@item.Price * item.Quantity</td>
                        <td>
                            <a asp-action="RemoveFromCart" asp-route-productId="@item.ProductId" class="btn btn-danger">Remove</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
}
else
{
    <p>Your cart is empty.</p>
}

<a asp-action="Checkout" class="btn btn-primary">Hoàn tất thủ tục đặt hàng</a>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var cartItems = document.querySelectorAll(".cart-item");
            cartItems.forEach(function (item) {
                var input = item.querySelector("input[type='number']");
                input.addEventListener("input", function () {
                    var price = parseFloat(input.getAttribute("data-price"));
                    var quantity = parseInt(input.value);
                    var totalPrice = price * quantity;
                    item.querySelector(".total-price").textContent = totalPrice.toFixed(2);
                });
            });
        });
    </script>

}