@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - H&K Shop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
          rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-pink-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">H&K Shop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Riêng tư</a>
                        </li>
                    </ul>
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Customer"))
                    {
                        <form class="d-flex">
                            <a href="@Url.Action("Index", "CustomerOrder")" class="btn btn-primary manage-orders-button">
                                Xem đơn hàng của tôi
                            </a>
                        </form>
                    }
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <form class="d-flex">
                            <a href="@Url.Action("Index", "Product")" class="btn btn-primary manage-orders-button">
                                Quản lý sản phẩm
                            </a>
                        </form>
                        <form class="d-flex">
                            <a href="@Url.Action("Index", "Order")" class="btn btn-primary manage-orders-button">
                                Quản lý đơn hàng                            
                            </a>
                        </form>
                    }
                    <form class="d-flex">
                        <button class="btn btn-outline-dark" type="submit" asp-action="Index" asp-controller="ShoppingCart">
                            <i class="bi-cart fill-me-1"></i>
                            Giỏ hàng
                        </button>
                    </form>
                    <partial name ="_LoginPartial" />
                    
                    
                </div>
            </div>
        </nav>
    </header>
    <div class="container bg-green-light ">
        <main role="main" class="pb-3 ">
            @RenderBody()
        </main>
    </div>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - H&K Shop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Riêng tư</a>
        </div>
    </footer> *@
    <footer>
        <div class="horizontal-line" style="width: calc(100% - 16em);
            height: 1px;
            background-color: black; margin: 0 8em;margin-top:4em"></div>
        <div style="margin-top: 4em;">
            <div style="display:flex;margin:6em">
                <div>
                    <ul>
                        <h5>H&K Shop</h5>
                        <li>
                            Office NorthSide:<p>
                                3rd floor, building G1
                                Five Star Garden, Thanh Xuan, Hanoi
                                Phone: 0898.579.188
                            </p>
                        </li>
                        <li>
                            Office SouthSide:<p>
                                5th Floor, 607-609 Nguyen Kiem,
                                Ward 9, Phu Nhuan District, City. Ho Chi Minh
                                Phone: 0896.557.388
                            </p>
                        </li>
                        <li>Email: contact@hks.vn</li>
                        <li>Support: 070.505.2022</li>
                        <li>Hotline: 0865241364</li>
                    </ul>
                </div>
                
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

